<html>
    {% extends "base.html" %}

    {% block content %}
    {% block app_content %}
    <div class="container">



<div class="table">
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-sm-1">ID</th>
      <th scope="col" class="col-sm-2">Word</th>
      <th scope="col" class="col-sm-2">Form</th>
      <th scope="col" class="col-sm-2">Grammem</th>
      <th scope="col" class="col-sm-2">PartOfSpeech</th>
       <th scope="col" class="col-sm-2">Translation</th>
        <th scope="col" class="col-sm-2">Dialect</th>
    </tr>
  </thead>
</table>
</div>

    {% for word in database_words %}
<div class="table">
<table class="table">

  <tbody>
    <tr>
      <td scope="row" class="col-sm-1">{{ word.id }}</td>
        <td scope="row" class="col-sm-2">{{ word.word.word }}</td>
        <td scope="row" class="col-sm-2">{{ word.word.dialect.dialect }}</td>
        <td scope="row" class="col-sm-2">{{ word.form }}</td>
        <td scope="row" class="col-sm-2"> {{ word.gram.grammem }} </td>
        <td scope="row" class="col-sm-2"> {{ word.word.pos.pos}} </td>
        <td scope="row" class="col-sm-2"> {{ word.word.translation_rus.translation }} </td>

    </tr>
  </tbody>
</table>

    {% endfor %}
    </div>
 </div>

    {% endblock %}

    {% endblock %}
</html>