{% import 'bootstrap/wtf.html' as wtf %}

<head>
  <meta charset="utf-8">
  <title>DargwaDict | Dargwa Dictionary Project</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">

<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}" >
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">


  <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <script src="js/modernizr-2.7.1.js"></script>

</head>



<body>

<section id="search">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="row margin-50"></div>
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <div class="col-xs-6">
          <!---<a class="logo" href="index"><img src="static/img/DD-logo-book.svg" alt="Logo"></a>--->
                    <ul class="nav navbar-nav navbar-left">
                    <li><a href="../index">Home</a></li>
                    </ul>
                </div>
            </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="../index#contact" class="scroll">Contact</a></li>
            <li><a href="#">Sign in</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>

    <div class="container">
   `    <div class="row pad-sm">
          <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">

         <form method="post" role="form">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}

            <div class="input-group">
                <div class="input-group-prepend">
                     <div class="form-row-align-items-center">
                        <div class="form-group col-md-6">
                            <div class="input-group-text">
                            {{ wtf.form_field(form.searched_word, placeholder="Russian or Dargwa") }}
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <form class="form-inline align-items-center">
                                {{ wtf.form_field(form.dialect) }}

                            </form>
                        </div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary btn-lg">Искать</button>

                        </div>
                     </div>

                </div>
            </div>
        </form>
        </div>
    </div>
    </div>
        <div class="container">
            {% if form.searched_word.data %}
            <p>Вы искали <b class="black">{{ form.searched_word.data }}</b>; найдено {{num}} слов(о/а) </p>
            {% endif %}

            {% for word in words %}

                <div class="row">

			        <div class="col-sm-2 wow fadeIn" data-wow-delay="0.4s">

				    <hr class="line purple">
				    <h2 class="black">{% if word.word %}{{ word.word }} {% endif %}</h2>
                        <p> id: {{ word.id }} </p>
                        <p>{% if word.dialect %} {{ word.dialect.dialect }} {% endif %}</p>
                        <p>{% if word.pos %} {{ word.pos.pos }} {% endif %}</p>
                    </div>

			    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
				    <hr  class="line blue">
                    <p></p>

                    {% if word.pos.pos == "noun" %}

                        <p> {{ word.word }}&nbsp (ABS.SG) &nbsp

                            {{ word.grammem }}
                        </p>
                        <p> {{ word.pos.type }} </p>
                        <p> "{{ word.translation_rus.translation }}" </p>

                    <h3>Формы</h3>
                    {% for form in forms %}
                    <p>{{ form.word_id }}{{ form.form }} &nbsp ({{ form.gram.grammem }}) {{ form.id }}</p>
                    {% endfor %}

                    {% elif word.pos.pos == "verb" %}

                    <p> {{ word.word }}&nbsp (INF) &nbsp</p>
                    <p> "{{ word.translation_rus.translation }}" </p>
                    <p> </p>

                    <h3>Формы</h3>
                    {% for form in forms %}
                    <p>{{ form.word_id }}{{ form.form }} &nbsp ({{ form.gram.grammem }}) {{ form.id }}</p>
                    {% endfor %}

                    {% endif %}

                        {% if word.comment == "True"%}
                        <p> Комментарий: {{ word.comment }} </p>
                        {% endif %}


                    <h3><a href="word/{{word.word}}">Подробнее</a></h3>
                    <br>
                </div>

                </div>
                {% endfor %}



</div>


</div>

</section>
</body>

<footer class="pad-xs">

      <div class="container">

        <div class="row">
          <div class="col-sm-8 margin-20">
            <ul class="list-inline social">
              <li>Find us on</li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>

          <div class="col-sm-4 text-right">
            <p><small>Project by <a href="#">Dagestan Dreamin'</a><br>
	             </small></p>
          </div>
        </div>

      </div>
    </footer>